@model MyPortfolio.Models.Photo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Photo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Project_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
